<style>
    html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

</style>
<footer class="mt-4 py-3 w-100 position-relative" style="background-color: #366092; color: #fff; flex-shrink: 0;">
    <div class="container text-center">
        <div>
            <strong>English's Cool</strong> &mdash; Version 1.2 &copy; {% now "Y" %}
        </div>
        <div>
            <small>
                Made with ❤️ Airton Fabre |
                <a href="mailto:support@englishscool.com" style="color: #f8f9fa; text-decoration: underline;">Contact Support</a>
            </small>
        </div>
        <div>
            <small>
                <a href="#" style="color: #f8f9fa; text-decoration: underline;">Privacy Policy</a> |
                <a href="#" style="color: #f8f9fa; text-decoration: underline;">Terms of Use</a>
            </small>
        </div>
    </div>
</footer>